
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Open+Sans:400,600,600i,700');


body {	

}

header {
	background-color: #FFF;
	padding: 20px;


}

nav {
	background-color: #FFF;
	font-family: "Lato";
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    float: right;
    
}

#topnav {
	list-style-type: none;
	margin: 0;
	text-align: center;

}
	
#topnav li {
	display: inline;
	padding-left: 3em;
	
}

#splash {
	background-image: url("../images/header_hero_image.jpg");
	background-repeat: no-repeat;
	width: 100%;
	max-height: 100%;
	object-fit: contain;
}


#splashcopy {
	background-color: #D5D5D5;
	width: 50%;
	opacity: 5%;
}

.button1 {
	background-color: #603;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#two_column{
	background-color: #FFB7CF; 
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

a:link {color: #603; font-weight: 400; text-decoration: none; }
a:active {color: #0000ff; text-decoration: none; }
a:hover {color: #D3D3D3; text-decoration: underline; }

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}



#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#slogan {
	color: blue;
}

#logo {

    height: auto; 
    width: auto; 
    max-height: 20px;
    float: left;
}


h1 {
	font-family: 'Lato', sans-serif;
	text-transform: none;
	font-size: 44px;
} 

h2, h3 {

	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 24px;

}

p, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}