@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Open+Sans:400,600,600i,700');
* {margin:0;padding:0;box-sizing:border-box;}
body {	
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height:1.5;
}
header {
	padding: 20px;
}

nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
}
a {
	color: #603;
	text-decoration: none;
}
a:active {
	color: #0000ff;
	text-decoration: none; }
a:hover {
	color: #D3D3D3;
	text-decoration: underline;
}
nav a {
	display:inline-block;
	padding:1em 2em;
}
.button1 {
	background-color: #603;
	border: none;
	color: white;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	/* width: 80%; */
}
.button1:hover {
	background-color:rgba(102, 0, 51, 0.53);
	color:#fff;
	text-decoration:none;
}
#splash {
	background-image: url("../images/header_hero_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	background-position: bottom;
}
#splashcopy {
	background-color: rgba(213, 213, 213, 0.8);
	width: 45em;
	margin: auto;
}
#splash p {
	margin:1em 0 2em;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#two_column{
	background-color: #FFB7CF; 
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}



#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#slogan {
	color: blue;
}

#logo {width: 15em;float: left;padding: 1em;}
h1 {
	
	text-transform: none;
	font-size: 44px;
}
h2, h3 {
	text-transform: uppercase;
	font-size: 24px;
}
