@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Open+Sans:400,600,600i,700');
* {margin:0;padding:0;box-sizing:border-box;}
body {	
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height:1.5;
}

h1 {
	
	text-transform: none;
	font-size: 44px;
}

h2 {

	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
}

h3 {
	text-transform: none;
	font-size: 24px;
}

a {
	color: #603;	
}

a:active {
	color: #0000ff;
	text-decoration: none; 
}

a:hover {
	color: rgba(107,42,74,.53);
	text-decoration: underline;
}

nav a {
	display:inline-block;
	padding:1em 2em;
	text-decoration: none;
}

header {
	padding: 20px;
}

nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
}
footer {
	background-color: #603;
	color: #fff;
	padding: 20px;
	text-align: center;
}
section {
	
	padding: 20px;
}

.button1 {
	background-color: #603;
	border: none;
	color: white;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	width: 80%;
}
.button1:hover {
	background-color:rgba(107,42,74,.53);
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}
.button2 {
	background-color: #603;
	border: none;
	color: white;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}
.button2:hover {
	background-color:rgba(107,42,74,.53);
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}
.ctasecondary {
	color: #603;
	background-color: #fff;
	border: 2px solid #603;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	/* margin: 1em 0; */
	font-weight: bold;
	position: absolute;
	left: 2em;
	bottom: 0;
	right: 2em;
}
.ctasecondary:hover {
	color: #FFF;
	background-color:rgba(107,42,74,.53);
	border: 2px solid rgba(107,42,74,0);
	text-decoration: none;
}

p.sectionsubcopy {
	padding: .5em;
	font-size: 1.2em;
	text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.missionitem {
	width: 33.33%;
	float: left;
	padding: 2em 2em;
	height: 35em;
	position: relative;
}
.missionitem img {
	width: 100%;
}

#logo {
	width: 15em;
	float: left;
	padding: 1em;
}
#outercolumn {
	max-width: 1200px;
	margin: auto;
}
#splash {
	background-image: url("../images/header_hero_image.png");
	background-repeat: no-repeat;
	background-size: cover; 
	width: 100%;
	min-height: 800px;
	background-position: top left;

}
#splashcopy {
	background-color: rgba(213, 213, 213, 0.7);
	width: 30em;
	text-align: center;
	margin: 5em auto;
}
#splash p {
	margin:1em 0 2em;
}
#jeans {
	padding: 3em 0;
}
#jeans ul{
	/* display:inline-block; */
	padding: 2em 3em 3em;
	line-height: 2em;
	vertical-align: middle;
}

#jeans img {
	width: 50%;
	float: left;
	vertical-align: middle;
}

#jeanstypes  {
	width: 50%;
	float: left;
	padding: 4em;
}

#jeanstypes p {
	font-size: 18px;
	text-align: left;
}

#mission {
	/* background-color: rgba(204,51,65,.08); */
	padding: 3em 0;
	
}


#team {

	padding: 1em;
	
}

#team li {

	display:inline-block;
	padding: 1em 0em 1em;
	text-decoration: none;
}
#julia {
	
	padding: 40px;
	float: left;
	width: 50%;
	margin: 0em 0em;

}
#julia img {
	max-height: 10em;
	float: left;
	margin: 1em 1em 1em;
}
#designsourcing {
	
	padding: 30px;
	float: left;
	width: 50%;
	margin: 0em 0em;
}



#seen-in {
		
		padding: 3em 0;
		text-align: center;
}

#seen-in img {
	height: 2em;
	margin: 1em;
	display: inline-block;
}











