@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700');
* {margin:0;padding:0;box-sizing:border-box;}
body {	
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height:1.5em;

}

h1 {
	
	text-transform: none;
	font-size: 32px;
	line-height: 2em;


}

h2 {

	text-transform: none;
	font-size: 20px;
	text-align: none;
	line-height: 1.5em;
}

a {
	color: #1caff6;	
}

a:active {
	color: #0000ff;
	text-decoration: none; 
}

a:hover {
	color: #1caff6;
	text-decoration: underline;
}

nav a {
	display:inline-block;
	padding:1em 2em;
	text-decoration: none;
}

header {
	padding: 20px;
}

nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
}
section {
	max-width: 1000px;
	margin: auto;
}
footer {
	background-color: #1caff6;
	color: #fff;
	padding: 20px;
	text-align: center;
}
form {
	padding: 4em 15em 10em;
	margin: auto;
}
input {
	padding: 1em;
	
}

.button1 {
	background-color: #1caff6;
	border: none;
	color: white;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
}
.button1:hover {
	background-color:rgba(28,175,246,.53);
	color:#fff;
	text-decoration:none;
	font-weight: bold;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.label {
	padding: 1em;
}
.field {
	margin: 1em 2em;
	width: 60%;
}

#logo {
	width: 10em;
	float: left;
	padding: 1em;
}


@media only screen and (max-width: 1035px) { 
	
	nav a {
		
		float: none;
		padding: 1em 1em;
		margin: .2em;
		display: inline-block;
		
	}
	h1 {
		font-size: 28px;
		line-height: 1.5em;
	}
	nav {
  
    	float: none;
    	text-align: center;
    	
    }
    header {
    	display: block;
    	text-align: center;
    }
	section {
		max-width: 698px;
	}
	form {
		padding: 4em 8em 10em;
	}
    #logo {
		display: inline-block;
		float: none;
		text-align: center;
	}
	
}



@media only screen and (max-width: 700px) { 

	nav a {
		display: block;
		text-align: center;
	}

	nav {
  
    	float: none;
    }
     header {
    	text-align: center;
    }
	section {
		max-width: 548px;
	}	
	form {
		padding: 4em 2em 10em;
	}
}

@media only screen and (max-width: 550px) { 

	h1 {
	
	font-size: 36px;
	}
	
}






