
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Open+Sans:400,600,600i,700');


body {
	background-image: url("../images/header_hero_image.jpg");
	background-repeat: no-repeat;
	background-size: 10px

}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#slogan {
	color: blue;
}

h1, h2, h3 {

	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 24px;

}

p, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}